
<div class="header">

    <div id="site_title"><a href="index.html"><img src="img/logo.png" /></a></div>

    <!-- Main Menu -->
    

    <ol id="menu">
        <li class="active_menu_item"><a href="index.html">Home</a>

            <!-- sub menu -->
            <ol>  
                <li><a href="nivo.html">Nivo Slider</a></li>
                <li><a href="ei_slider.html">EI Slider</a></li>
                <li><a href="fullscreen_gallery.html">Fullscreen Slider</a></li>
                <li><a href="image_frontpage.html">Static Image</a></li>
            </ol>
        </li><!-- END sub menu -->

        <li><a href="#">Pages</a>

            <!-- sub menu -->
            <ol>     
                <li><a href="magazine.html">Magazine</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="full-width.html">Full Width Page</a></li>
                <li><a href="columns.html">Columns</a></li>
            </ol>
        </li><!-- END sub menu -->

        <li><a href="elements.html">Elements</a></li>

        <li><a href="#">Galleries</a>

            <!-- sub menu -->
            <ol>     
                <li><a href="gallery-simple.html">Simple</a></li>
                <li><a href="portfolio.html">Filterable</a></li>
                <li><a href="gallery_fader.html">Fade Scroll</a></li>
                <li><a href="video.html">Video</a></li>
                <li class="last"><a href="photogrid.html">PhotoGrid</a></li>
            </ol>
        </li><!-- END sub menu -->

        <li><a href="contact.html">Contact</a></li>
    </ol>


</div><!-- END header -->

