<div ng-include src="'partials/menu.html'"></div>

<div id="container-fluid" ng-controller="ProductsCtrl" class="container-fluid">
    
        <div class="well well-sm">
            <strong>Category Title</strong>
            <!--            <div class="btn-group">
                            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                                </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                                    class="glyphicon glyphicon-th"></span>Grid</a>
                        </div>-->
        </div>
    
    <div class="bg-1">
        <div class="container">
            <div id="products" class="row ">
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="group" src="images/1.jpg" alt="San Francisco">
                        <div class="caption">
                            <p class="text-center"><strong>Product title</strong></p>
                            <p>Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 price">
                                    <p class="lead">
                                        $21.000</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" ng-include src="'partials/footer.html'"></div>

</div><!-- close container -->
